<form class="legends sheet item-sheet condition-sheet {{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <h1 class="title">
      <input name="name" type="text" value="{{item.name}}" placeholder="Name" class="editable" />
    </h1>
    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
  </header>

  <section class="sheet-body">
    <h1 class="title center underline">Penalties</h1>
    <section class="row">
      <table>
        <tr>
          <td>
            <select name="system.affectedMoves.0.penalty" class="center">
              {{#select system.affectedMoves.0.penalty}}
                <option value="-2">-2</option>
                <option value="2">+2</option>
              {{/select}}
            </select>
          </td>
          <td><input type="text" name="system.affectedMoves.0.name" value="{{system.affectedMoves.0.name}}"></td>
        </tr>
        <tr>
          <td>
            <select name="system.affectedMoves.1.penalty" class="center">
              {{#select system.affectedMoves.1.penalty}}
                <option value="-2">-2</option>
                <option value="1">+1</option>
                <option value="2">+2</option>
              {{/select}}
            </select>
          </td>
          <td><input type="text" name="system.affectedMoves.1.name" value="{{system.affectedMoves.1.name}}"></td>
        </tr>
      </table>
    </section>
    {{> "systems/legends/templates/partials/description-editor.hbs" }}
  </section>
</form>
