// out: false

@import "./config.less";

.chat-message {
  .main-font();

  &.whisper {
    border: 2px solid @dark-fire;
  }

  &.message {
    .bg-default();
  }

  .message-header {
    color: @text-color;
    margin: -5px -5px 0;
    padding: 0.5rem;
    .bg-default();
    background-color: @bg-color;
    background-image: linear-gradient(@bg-fade-color, @bg-color);
    border-bottom: 2px solid @accent-color;

    .message-sender {
      .title-font();
      font-size: 1rem;
    }

    .whisper-to {
      .title-font();
      font-size: 0.8rem;
    }

    a:hover {
      text-shadow: 0 0 8px @accent-color;
    }
  }

  .message-content {
    margin: 0 -5px -5px;
    padding: 0.5rem;
    .main-font();
  }

  &.whisper {
    .message-header {
      border-color: @dark-fire;
    }
  }
}

.message-content {
  .legends {
    .kanji {

      &::before,
      &::after {
        .kanji-font();
        color: @firebender;
        padding: 0;
        font-size: 70%;
        vertical-align: text-top;
      }
    }

    .moment-of-balance {
      .kanji {
        text-align: center;

        &::before,
        &::after {
          position: relative;
          top: 4px;
        }

        &::before {
          content: '平';
        }

        &::after {
          content: '衡';
        }
      }
    }

    h3 {
      margin: 0;
      .title-font();
    }

    a.move-roll {
      display: block;
      flex: 0 0 100%;
      position: relative;
      line-height: 2rem;
      text-align: center;
      background: rgba(0, 0, 0, 0.1);
      border: 1px solid var(--color-border-light-2);
      border-radius: 3px;
      box-shadow: 0 0 2px #fff inset;
      word-break: break-all;
      .title-font();
      font-weight: bold;
      font-size: 1rem;
    }

    .dice-roll .dice-tooltip {
      .dice {
        .part-total {
          .title-font();
        }

        .dice-rolls .roll.die {
          .title-font();
        }
      }
    }
  }
}

#chat-controls {
  .main-font();

  .roll-type-select {
    .bg-default();
  }

  i {
    color: @bg-color;
  }

  a:hover {
    text-shadow: 0 0 8px @accent-color;
  }
}

#chat-form #chat-message {
  .main-font();
  .bg-default();

  &:focus {
    box-shadow: 0 0 8px @accent-color;
  }
}
